.body{
    background-color: #F0F0F0;
}
.avatar{
    text-align: center;
	vertical-align: middle;
    padding: 10px 0;
    /* overflow: hidden； */
    /* border-radius:100px; */
   
}
.avatar img{
    width: 150px;
    height: 150px;
    border-radius:100px;
    margin-left: auto; 
    margin-right:auto; 
    /* margin-top: 10%; */
    display:block;
}
.input1{
    margin-left: 43%;
}
.h3{
    text-align: center;
}
